@charset "utf-8";
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tc {
  text-align: center;
}
.img {
  position: relative;
  width: 100%;
  height: auto;
}
.img .city {
  color: #fff;
  position: absolute;
  bottom: 15px;
  padding: 3px 2px;
  right: 5px;
}
.img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.img p {
  position: absolute;
  width: 100%;
  height: auto;
  color: #fff;
  margin-top: 20%;
  text-align: center;
}
.img p i {
  width: 100%;
}
